.layout {
  overflow: auto;
}

.footer {
  text-align: center;
  padding: 20px 0;
}

.container {
  max-width: 100%;
  padding: 0 15px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
}
